cat
cmp
cp
echo
halt
hex-dump
ls
mcat
mcp
mkdir
pwd
rm
shell
bubsort
insult
lineup
matmult
recursor
sumargv
pfs
pfs_reader
pfs_writer
dummy
longrun
child
parent
generic_parent
longrun_interactive
busy
line_echo
file_syscall_tests
longrun_nowait
shellcode
crack
overflow
dir_stress
create_file
create_remove_file
*.d
